<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<groups>
		<run>
			<include name="smoke"></include>
			<include name="reg"></include>
		</run>
	</groups>
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.IRC_Testing_D7_TestNG_CE_COD.Test_05"/>
      <class name="com.IRC_Testing_D7_TestNG_CE_COD.DoesNotMatchException"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
